.navigation-bar {
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: rgba(23, 45, 190, 0.65);
    color: white;
    width: 10%; 
    height: 100vh; 
    overflow-y: hidden;
    text-align: center;
}
.navigation-bar img{
    background-color:transparent; 
    border-radius: 50%;       
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-top: 10px;
}
.navigation-buttons button{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 100%;
    color: white;
    font-weight: bolder;
    line-height: 05px;
    font-size: 1.5vw;
}
.navigation-buttons button a {
    text-decoration: none;
    color: inherit; 
  }
  
.navigation-buttons button:hover{
    color:black;
    background: linear-gradient(to top,lightgrey,darkgrey);
    font-size: 18px ;
}